---
layout: default
---

<article class="post">
	
<header class="container spacer" style="background-image:url(/images{{ page.url }}{{page.title}}-cover.jpg);">
	<!-- <h1>{{ page.title }}</h1> -->
	<img src="/images{{ page.url }}{{page.title}}-cover.png" />
</header>


  <div class="info" style="background-color:#{{ page.color }};">
    <p class="intro">
      {{page.intro}}
    </p>
    <p class="meta">
      Role : {{page.role}}
      Année : {{page.year}}
      Agence : {{page.agency}}
    </p>
  </div>

  <div class="entry">{{ content }}</div>

</article>